body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0px;

}

.heading {
  background-color: skyblue;
  margin: 0;
  padding: 10px;
  margin-bottom: 20px;
  width: 100vw;
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
}
